<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thom's Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1>Thom's Tech Blog</h1>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout-btn">Logout</button>
        <script src="/js/logout.js"></script>
        {{else}}
         <a href="/login">Login</a>
         <a href="/signup">Signup</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>